h2 {
    color: rgb(40, 62, 110); 
    font-size: 1.5em;
    font-style: italic;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

h1 {
    color: rgb(40, 62, 110); 

    line-height: 1.5em;
    text-align:center;
    font-size: 2.7em;
    font-weight: bolder;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: seashell;
}
p {
    font: 1em 'Times New Roman', Times, serif;
}
h6 {
    font-weight: bold;
}
section {
    font-weight: bold;
}
.catAppreciation {
    font-style: italic;
}
h4 {
    color: rgb(40, 62, 110);
    text-align: center;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header {
    font-style: italic;
    background-color:azure 
}
h5 {
    color:rgb(40, 62, 110);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
h6 {
    color:rgb(40, 62, 110);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
footer {
    font-weight: bold;
    color:rgb(40, 62, 110);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
}
img {
    vertical-align: middle;
}
ul {
    list-style-type: square;
    
}